#businessRegistrationPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#businessRegistrationForm {
  width: 60vh;
  height: 60vh;
  margin-top: -10vh;

  background-color: #23022e;
  border: 3px solid #573280;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#businessRegistrationForm h2 {
  color: #ada8b6;
  font-size: 2.5rem;
  text-align: center;
}

#businessRegistrationForm label {
  color: #ada8b6;
  margin-top: 10px;
}

#businessRegistrationForm label:last-of-type {
  margin-top: 50px;
}

.registerButton {
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 20px; /* Adjust font size as needed */
  background-color: #573280; /* Button background */
  color: #ada8b6; /* text */
  border: none;
  cursor: pointer; /* Change cursor on hover */

  margin-top: auto;
  margin-bottom: 2vh;
}
