/* Containers */
#inventory-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  padding-top: 10px;
}

/* Inventory List */
#inventory-list {
  padding: 15px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 10px;
  max-width: 30%;
}

#inventory-list h1 {
  margin-bottom: 10px;
  text-align: center;
}

#inventory-list ul {
  list-style-type: none;
  padding: 0;
  overflow-x: auto;
  max-height: 70vh;
  overflow-y: auto;
}

#inventory-list li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

#inventory-list li:hover {
  background-color: #e0e0e0;
}

/* Input and Button */
#add-item {
  display: flex;
  align-items: center;
  margin: 5px;
}

.input-item-name {
  flex: 1; 
}

.btn-add-item {
  margin-left: 10px;
  align-self: flex-end; 
}


/* Item Details */
#item-details {
  flex-grow: 1;
  padding: 25px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-radius: 10px;
  margin: 10px;
}

.input-item-price,
.input-item-quantity {
  margin-bottom: 10px;
}

#btn-save-item {
  margin-top: 10px;
}

/* File Upload */
#file-upload {
  display: flex;
  align-items: center; /* Align items vertically */
  margin: 5px;
}

#file-upload input[type="file"] {
  flex: 1; /* Make input fill remaining space */
  margin-right: 10px; /* Add some space between input and button */
}

#file-upload button {
  align-self: flex-end; /* Align button to the end of the container */
  margin-left: 10px;
}
