#navbar {
    display: flex;
    height: 50px;
    background-color: #23022E;
    color: white;
    justify-content: space-between;
    align-items: center;
    /*gap: 48px;*/
    font-family: 'Montserrat', sans-serif;
}

#navbar .logo img{
    max-width: 18%;
    height: auto;
}

#navbar li a,
#navbar a h1 {
    text-decoration: none;
    color: #ADA8B6;
}

.right-side ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 25px;
  justify-content: space-between;
  align-items: center;
}

.right-side button {
  border: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: rgba(87, 50, 128, 1);
  color: white;
  padding: 6px 20px 6px 20px;
}

.right-side button:hover {
  background-color: rgba(87, 50, 128, .7);
  transition: .90;
  cursor: pointer;
}

.right-side button:active {
  transform: scale(0.98);
}
